

// Variable overrrides
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 5 !default;
$h2-font-size:                $font-size-base * 4 !default;
$primary: rgba(96, 35, 96, 0.599);
$secondary: rgb(173, 131, 200);


@import "../node_modules/bootstrap/scss/bootstrap";



body {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    background-attachment: fixed; /* Keep the gradient fixed during scrolling */
}

.greeting-container{
    display: flex;
   
    min-height: 100vh;
    align-items: center;
    justify-items: center;
}
.about-me-container{
    display: flex;
 min-height: 100vh;
 align-items: start;


}


.contact-container{
    display: flex;
    min-height: 100vh;
}
.card-img-top {
   height: 300px;
  object-fit: contain; /* Keeps the aspect ratio, may result in empty space on sides/top */
}

.projects-container {

min-height:100vh
}

.border-top-only {
    border-top: 4px solid #007bff; /* Example uses a solid blue border */
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
  $spacer: 1rem;
  $spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 5,
  );
  
  .copy-button {
    position: relative;
 
    cursor: pointer;
    padding: 5px 15px;
    border: none;
    background: rgba(255, 255, 255, 0.173); /* Translucent background */
    border-radius: 5px;
  }
  .copy-button:hover {
    background: rgba(255, 255, 255, 0.09); /* Darker translucent background on hover */
  }
  .copy-button i {
    margin-right: 5px;
  }
  .success-message {
    display: none;
    position: absolute;
    display:none;
    top:-18px;
     /* Adjust as needed */
    left: 70px;
  
    background-color: rgba(41, 60, 41, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

  .copy-icon {
    width: 16px;
    height: 16px;

  }




@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the animation to your element */
.fade-in {
    opacity: 0; /* Start invisible */
    animation-name: fadeIn;
    animation-duration: .1s; /* Duration of the animation */
    animation-fill-mode: forwards; /* Keeps the element visible after the animation ends */
}

